<h1>Edit Arrival</h1>
<%= form_for @arrival do |f| %>
  <p>
    <%= f.label :passenger_name, 'Name:' %> <%= f.text_field :passenger_name %></p>
  <p>
    <%= f.label :flight_number, 'Flight #:'%> <%= f.text_field :flight_number %></p>
  <p>
    <%= f.label :from, 'From:'%> <%= f.text_field :from %></p>
  <p>
    <%= f.label :arrival_time, 'Arrival Time:'%> <%= f.text_field :arrival_time %></p>
  <p>
    <%= f.submit 'Update Arrival' %></p>
<% end %>
