%h1
  Today's Arrivals

%table#todays_arrivals
  %tr
    %th Name
    %th Flight
    %th From
    %th Scheduled Time
    %th Status
    %th Actual Time
  - @arrivals.each do |arrival|
    %tr
      %td= arrival.passenger_name
      %td= arrival.flight_number
      %td= arrival.from
      - if arrival.flight_status
        %td= arrival.flight_status.scheduled_time.to_s(:pretty_time)
        %td= arrival.flight_status.status
        %td= arrival.flight_status.current_time.to_s(:pretty_time)
      - else
        %td= arrival.arrival_time.to_s(:pretty_time)
        %td Unknown
        %td
